:root{
  --dark:#1f2937;
  --primary:#2563eb;
  --bg:#f5f7fb;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI,sans-serif;
}

.app{
  display:flex;
  height:100vh;
  background:var(--bg);
}

/* SIDEBAR */
.sidebar{
  width:260px;
  background:var(--dark);
  color:#fff;
  padding:20px;
}

.sidebar button{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  background:#111827;
  border:none;
  color:#fff;
  border-radius:8px;
}

/* MAIN */
.main{
  flex:1;
  padding:25px;
  overflow:auto;
}

/* CREATE */
.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  border:2px dashed var(--primary);
  padding:16px;
  border-radius:10px;
  background:#fff;
  text-align:center;
  cursor:pointer;
  position:relative;
}

.card span{
  color:var(--primary);
  font-weight:600;
}

.card .delete{
  position:absolute;
  top:8px;
  right:10px;
  color:red;
  cursor:pointer;
}

/* TABLE */
table{
  width:100%;
  background:#fff;
  border-collapse:collapse;
}

th{
  background:var(--primary);
  color:#fff;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

.action-btn.del{
  background:#dc2626;
  color:white;
  border:none;
  padding:6px 10px;
}

.back-btn{
  margin-top:15px;
  background:green;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:6px;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal-box{
  background:#fff;
  padding:25px;
  width:600px;
  border-radius:12px;
}

form{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}

form button{
  grid-column:span 2;
  background:var(--primary);
  color:white;
  border:none;
  padding:12px;
}

/* WHATSAPP */
.whatsapp-wrapper{
  display:flex;
  justify-content:center;
  padding-top:40px;
}

.whatsapp-box{
  width:100%;
  max-width:500px;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.wa-field{
  margin-bottom:15px;
}

.wa-field label{
  display:block;
  margin-bottom:6px;
  font-weight:600;
}

.wa-field input,
.wa-field textarea{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

.wa-row{
  display:flex;
  gap:15px;
}

.wa-actions{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.send-btn{
  background:#22c55e;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:6px;
}
